.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 40%);
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: right;
  align-items: center;
}

.modalContainer {
  width: 550px;
  height: 650px;
  z-index: 9999;
  border-radius: 12px 0px 0px 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  /*display: inline-block;*/
  text-align: center;
  margin-top: 10px;
  flex: 50%;
  max-height: 280px;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  /*flex: 50%;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  /*padding-bottom: 15px;*/
  /*bottom: 15%;*/
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modalLoginButton {
  border-width: 0px;
  filter: drop-shadow(3px 5px 4px rgba(27, 43, 65, 0.05)) drop-shadow(-3px -3px 8px rgba(201, 75, 50, 0.1));
  margin: 10px;
  background: #FFFFFF;
  border-color: #C94B32;
  border-radius: 10px;
  align-content: inherit;
}

.modalBuyButton {
  width: 170px;
  height: 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  /* or 90% */

  /*display: flex;*/
  align-items: center;
  text-align: center;
  letter-spacing: -0.011em;
  text-transform: uppercase;

  color: #FFFFFF;

  background: #C94B32;
  border-radius: 5px;
  border-width: 0px;
}


.modalContainer .welcomeText {
  style-name: Corps Title;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.011em;
  padding-bottom: 10px;

  /*position: absolute;*/
  /*right: 20%;*/
  /*top: 52%;*/
  color: #76808D;
}

.modalContainer .daoName {
  /*position: absolute;*/
  /*right: 10%;*/
  /*top: 57%;*/

  /* Big-Titles */

  font-family: 'Insignia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  block-size: 100px;
  /* or 100% */

  text-align: center;

  /* RED */

  color: #C94B32;
}


.modalContainer .loginWithoutWallet {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  padding-top: 10px;
  letter-spacing: -0.011em;
  color: #76808D;
}

.paymentOptionsText {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: rgba(118, 128, 141, 0.5);
}

.buyTokensPanel {
  width: 120px;
  height: 40px;
  align-content: center;
  background: #FFFFFF;
  /* Color-drop */
  align-items: center;
  text-align: center;
  box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
  border-radius: 30px;
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration-color: #C94B32;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 5px 5px 25px;
  display: flex;
  letter-spacing: -0.011em;
  color: #919191;
}

.buyTokensPanel2 {
  width: 60px;
  height: 46px;
  align-content: center;
  background: #FFFFFF;
  /* Color-drop */
  align-items: center;
  text-align: center;
  box-shadow: 3px 5px 4px rgba(27, 43, 65, 0.05), -3px -3px 8px rgba(201, 75, 50, 0.1);
  border-radius: 0px 10px 10px 0px;
  border-width: 0px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #919191;
}

.fontAmountFees {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  /* or 114% */
  align-items: center;
  color: rgba(27, 43, 65, 0.6);
}

.fontAmountFeesText {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  /* or 114% */
  align-items: center;
  color: rgba(27, 43, 65, 0.6);
}